@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
}

.card-transparent {
  background-color: transparent;
}
.background-purple {
  background-color: #8880ee;
}
.text-purple {
  color: #8880ee;
}
.background-dark-purple {
  background-color: #6c60e0;
  color: #ffffff;
}
.background-dark-purple:hover {
  color: #ffffff;
}
